@media all and (min-width: 480px) {
    .Login {
      padding-top: 60px;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .btn-primary {
      background-Color: #e6e1e1;
      color: #f06a3a;
    }

    .btn-secondary {
      background-Color: #f06a3a;
      color: #fff;
    }
  }